DEV_MODE=true
DRY_RUN=false

LOG_LEVEL=debug
CONSOLE_LEVEL=info
CONSOLE_LOG=false
STDERR_LOG=false

# PostgreSQL connection settings:

# Leave empty for local socket connection
DB_HOST=

# Default suggestion: use the application name
DB_NAME=

# Leave empty to use system user
DB_USER=

# Leave password empty for peer/local auth
DB_PASSWORD=

# Default port
DB_PORT=5432
