########
# Misc #
########

APP_NAME=python-project-blueprint
PACKAGE_NAME=python_project_blueprint

DEV_MODE=false
DRY_RUN=false
BUILD_CONFIG=false

###########
# Logging #
###########

LOG_LEVEL=debug
CONSOLE_LEVEL=info
STDERR_LEVEL=warning
FILE_LOG=true
CONSOLE_LOG=false
STDERR_LOG=true

############################################
# PostgreSQL connection settings for Local #
############################################

# Local development with peer auth
# DB_HOST=
# DB_NAME=python_project_blueprint
# DB_USER=
# DB_PASSWORD=
# DB_PORT=5432

# Docker Compose
# DB_HOST=/run/postgresql
# DB_NAME=python_project_blueprint
# DB_USER=python_project_blueprint
# DB_PASSWORD=replace-me-with-an-actual-password
# DB_PORT=5432
HOST_UID=1000
HOST_GID=1000
################################################
# Docker user, docker repo and docker filename #
################################################

# Consider updating this on GitHub Actions aswell
DOCKER_USER=set-user-here
DOCKER_REPO=set-repo-here
DOCKER_TAG=set-tag-here
