########
# Misc #
########

# Enable developer conviniences
DEV_MODE=false

# Run without writing to DB
DRY_RUN=false

# Build new version of config file at XDG-Config path, overrites current file
BUILD_CONFIG=false

###########
# Logging #
###########

# Level of general logging
LOG_LEVEL=debug

# Level of logging that happens in console, CONSOLE_LOG must be true
CONSOLE_LEVEL=info

# Level og logging that happens to stderr, STDERR_LOG must be true
STDERR_LEVEL=warning

# Log to files, specified by XDG-paths
FILE_LOG=false

# Log to console
CONSOLE_LOG=false

# Log to stderr
STDERR_LOG=true

##################################
# PostgreSQL connection settings #
##################################

# Leave empty for local socket connection
DB_HOST=

# Default suggestion: use the application name
DB_NAME=

# Leave empty to use system user
DB_USER=

# Leave password empty for peer/local auth
DB_PASSWORD=

# Default port
DB_PORT=5432
